<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Send Invitations to Your Building</title>

		<meta name="description" content="Static &amp; Dynamic Tables" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="assets/css/cust_theme.css"/>

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="assets/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.js"></script>
		<![endif]-->
		<script src="assets/js/angular.js" type="text/javascript"></script>
		<script src="assets/js/common.js" type="text/javascript"></script>
  		<script src="assets/js/angularControllers/ibuilding.js" type="text/javascript"></script>
	</head>

	<body class="no-skin" ng-app="">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default navbar-fixed-top">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">

				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header nav_background_logo">
					<!-- #section:basics/navbar.layout.brand -->

					<button type="button" class="navbar-toggle menu-toggler pull-left navbar-toggle2" id="menu-toggler" onclick="window.history.back()">
						<i class="ace-icon fa fa-arrow-left" style="color: white"></i>
					</button>

					

					<!-- #section:basics/sidebar.mobile.toggle -->
					<button type="button" class="navbar-toggle menu-toggler pull-right" id="menu-toggler" data-target="#sidebar">
						<span class="sr-only">Toggle sidebar</span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>
					</button>
					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>
				
				<!-- /section:basics/navbar.dropdown -->
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
				<ul class="nav nav-list" ng-include="'menu.html'">
				</ul>
				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<!-- /section:basics/sidebar -->
			<div class="main-content"  ng-controller="iBuildingController" data-ng-init="init()">
				<div class="main-content-inner">
					<h1>Send Invitations to Your Building</h1>
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">

						<div class="row">
							<form class="form-horizontal" role="form" name="invForm" ng-submit="send_inv(invForm.$valid)">
							<div class="col-xs-12" style="margin-top: 10px;">
								<div class="form-group" ng-class="{ 'has-error' : invForm.building.$invalid && !invForm.building.$pristine }">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Which Building <span class="red">*</span></label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<select class="form-control input-medium" name="building" ng-model="workData.building" ng-options="value.name for value in buildings" ng-change="update_form()" required>
													<option value="">Select Building</option>
												</select>
											</div>
											<p ng-show="invForm.building.$invalid && !invForm.building.$pristine" class="help-block">Select at least one building.</p>
										</div>
									</div>
							</div><br/>
							<div class="col-xs-12" style=" margin-top: 10px;" ng-show="!isHidden">
								<div class="alert alert-warning">Type/paste in the text box the emails of everyone you want to invite to your building and then choose below how to classify them (you can do it in multiple sets, especially if you want to invite some as Tenants and others as Managers). Each email should be separated by a:<br/>comma (,) <br/> colon (:) <br/> semicolon (;) <br/> space ( )</div>
							</div>
							<div class="col-xs-12" style="text-align: center;" ng-show="!isHidden">
								<button type="button" class="btn btn-primary" style="margin-top: 5px;" data-toggle="modal" data-target="#pendingModal" ng-click="loadPendingList()"> View Pending Invitations</button>
								<button type="button" class="btn btn-primary" style="margin-top: 5px;" data-toggle="modal" data-target="#canceledModal" ng-click="loadCanceledList()"> View Canceled Invitations</button>
							</div>
							<div class="col-xs-12" style="margin-top: 10px;" ng-show="!isHidden">
								<div class="form-group" ng-class="{ 'has-error' : invForm.tenants.$invalid && !invForm.tenants.$pristine }">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Tenant Email Addresses <span class="red">*</span></label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<textarea type="text" class="form-control" rows="6" cols="20" name="tenants" ng-model="workData.tenants" ng-change="removeSpace()" ng-required="!workData.managers"> </textarea>
											</div>
											<p ng-show="invForm.tenants.$invalid && !invForm.tenants.$pristine" class="help-block">Add Valid email address</p>
										</div>
									</div>
							</div>
							<div class="col-xs-12" style="margin-top: 10px;" ng-show="!isHidden">
								<div class="form-group" ng-class="{ 'has-error' : invForm.managers.$invalid && !invForm.managers.$pristine }">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Manager Email Addresses <span class="red">*</span></label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<textarea type="text" class="form-control"  rows="6" cols="20" name="managers" ng-model="workData.managers" ng-change="removeSpace()" ng-required="!workData.tenants"> </textarea>
											</div>
											<p ng-show="invForm.managers.$invalid && !invForm.managers.$pristine" class="help-block">Add Valid email address</p>
										</div>
									</div>
							</div>
							<div class="col-xs-12" style="text-align: center; margin-top: 10px;" ng-show="!isHidden">
								<button class="btn btn-primary" type="submit"  ng-disabled="invForm.$invalid" > Send Invitations</button>
							</div>
							</form>
						</div>

						<div class="row">
							<div class="modal fade" id="responseModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Invitations</h4>
											</div>
											<div class="modal-body">
												<p>
													<div class="alert alert-success">
														<p ng-bind-html="renderHtml(responseMessage)"></p>
													</div>
												</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success" ng-click="delete_id='0'" data-dismiss="modal" aria-label="Close">Ok</button>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div><!-- /.modal -->

							<div class="modal fade" id="pendingModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Pending Invitations</h4>
											</div>
											<div class="modal-body">
												<table ng-if="pendingInvitations.length >0" id="simple-table" class="table table-striped table-bordered table-hover">
													<tbody>
														<tr ng-repeat="row in pendingInvitations">
															<td>
																<label class="pos-rel">
																	{{ row.email }}
																</label>

																<div class="col-sm-6 pull-right pdZero height20">
																	<label class="pdZero">
																		<input name="switch-field-1" class="ace ace-switch ace-switch-cust" type="checkbox" ng-checked="row.type" ng-click="updateRole($event, row.id)">
																		<span class="lbl" data-lbl="MANAGER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TENANT"></span>
																	</label>
																	<label class="pdZero">
																		<input name="switch-field-1" class="ace ace-switch ace-switch-cust" type="checkbox"  ng-checked="row.canceled" ng-click="updateCanceled($event, row.id)">
																		<span class="lbl" data-lbl="CANCELED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PENDING"></span>
																	</label>
																	<label class="pdZero" id="resend_btn_{{ row.id }}">
																		<button class="btn btn-xs btn-gray" style="margin-top: -20px;padding: 0px;"  ng-click="resend(row.id)">Resend</button>
																	</label>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<span ng-if="pendingInvitations.length ==0">No Invitation Available.</span>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success" ng-click="delete_id='0'" data-dismiss="modal" aria-label="Close">Close</button>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div><!-- /.modal -->

								<div class="modal fade" id="canceledModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Canceled Invitations</h4>
											</div>
											<div class="modal-body">
												<table ng-if="canceledInvitations.length > 0" id="simple-table" class="table table-striped table-bordered table-hover">
													<tbody>
														<tr ng-repeat="row in canceledInvitations">
															<td>
																<label class="pos-rel">
																	{{ row.email }}
																</label>

																<div class="col-sm-5 pull-right pdZero height20">
																	<label class="pdZero">
																		<input name="switch-field-1" class="ace ace-switch ace-switch-cust" type="checkbox"  ng-checked="row.canceled" ng-click="updateCanceled($event, row.id)">
																		<span class="lbl" data-lbl="CANCELED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PENDING"></span>
																	</label>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<span ng-if="canceledInvitations.length ==0">No Invitation Available.</span>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success" ng-click="delete_id='0'" data-dismiss="modal" aria-label="Close">Close</button>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div><!-- /.modal -->
						</div>

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
		<style type="text/css">
		.pdZero{
			padding: 0px;
			margin: 0px;
		}
		.height20{
			height: 20px;
		}
		</style>

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.js"></script>

		<!-- ace scripts -->
		<script src="assets/js/ace/elements.scroller.js"></script>
		<script src="assets/js/ace/elements.aside.js"></script>
		<script src="assets/js/ace/ace.js"></script>
		<script src="assets/js/ace/ace.ajax-content.js"></script>
		<script src="assets/js/ace/ace.touch-drag.js"></script>
		<script src="assets/js/ace/ace.sidebar.js"></script>
		<script src="assets/js/ace/ace.sidebar-scroll-1.js"></script>
	</body>
</html>
