<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Building Invitation - Appartment App</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.css" />
		<![endif]-->
		<link rel="stylesheet" href="assets/css/ace-rtl.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.css" />
		<![endif]-->

		<script src="assets/js/ace-extra.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.js"></script>
		<![endif]-->
		<script src="assets/js/angular.js" type="text/javascript"></script>
		<script src="assets/js/common.js" type="text/javascript"></script>

		<script src="assets/js/angularControllers/join_building.js" type="text/javascript"></script>

	</head>

	<body class="login-layout blur-login" ng-app=""  ng-controller="registerStep1Controller" ng-init="init()">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<img src="app_images/stc_72.png">
								</h1>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">

								<div id="signup-box" class="signup-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="ace-icon fa fa-users blue"></i>
												New User Registration
											</h4>

											<div class="space-6"></div>

											<div class="alert alert-success fade in" ng-show="message">
									            	<span ng-if="message">
									            		{{ message }}
									            	</span>
									          	</div>
									          	<div class="alert alert-danger fade in" ng-show="systemErrors">
									          		<span ng-if="systemErrors">
									            		{{ systemErrors }}
									            	</span>									            	
									          	</div>

											<p> Email Address: <br/> {{ invData.email }}</p>
											<form name="joinBForm" ng-submit="join_building(joinBForm.$valid)">
												<fieldset>
													<div style="text-align: center;">
														<span class="label label-xlg label-primary arrowed arrowed-right">Building Reservation Details</span>
													</div>
													<br/>
													<p> Building Name: <br/> {{ building_name }}</p>

													<div ng-show="!isManager" ng-class="{ 'has-error' : joinBForm.room_no.$invalid && !joinBForm.room_no.$pristine }">
														<label class="block clearfix">
															<span class="block input-icon input-icon-right">
																<input type="text" name="room_no" ng-model="invData.room_no"  class="form-control" placeholder="Room Number"  ng-required="!isManager"/>
															</span>
															<p ng-show="joinBForm.room_no.$invalid && !joinBForm.room_no.$pristine" class="help-block">Enter room/apartment number.</p>
														</label>
													</div>

													<div ng-show="!isManager" ng-class="{ 'has-error' : joinBForm.floor_no.$invalid && !joinBForm.floor_no.$pristine }">
														<label class="block clearfix">
															<span class="block input-icon input-icon-right">
																<input type="text" name="floor_no" ng-model="invData.floor_no"  class="form-control" placeholder="Floor Number"  ng-required="!isManager"/>
															</span>
															<p ng-show="joinBForm.floor_no.$invalid && !joinBForm.floor_no.$pristine" class="help-block">Enter floor number.</p>
														</label>
													</div>

													<div class="space-24"></div>

													<div class="clearfix">
														<button type="submit" class="width-65 pull-right btn btn-sm btn-success" ng-disabled="joinBForm.$invalid" >
															<span class="bigger-110">Join Building</span>

															<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.signup-box -->
							</div><!-- /.position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->

				<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-body">
						        <p>{{ popupMessage }}</p>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-success" ng-click="get_redirect()">OK</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->

			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.js"></script>
	</body>
</html>
