<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>Tables - Ace Admin</title>

	<meta name="description" content="Static &amp; Dynamic Tables" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="assets/css/bootstrap.css" />
	<link rel="stylesheet" href="assets/css/font-awesome.css" />

	<!-- page specific plugin styles -->

	<!-- text fonts -->
	<link rel="stylesheet" href="assets/css/ace-fonts.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.css" class="ace-main-stylesheet" />
			<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.css" />
		  <![endif]-->

		  <!-- inline styles related to this page -->

		  <!-- ace settings handler -->
		  <script src="assets/js/ace-extra.js"></script>
		  <script src="assets/js/app/workorder_camera.js"></script>

		  <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.js"></script>
		<![endif]-->
		<script src="assets/js/angular.js" type="text/javascript"></script>
		<script src="assets/js/common.js" type="text/javascript"></script>
		<script src="assets/js/angularControllers/workorder_view.js" type="text/javascript"></script>
		<script src="assets/js/app/camera.js" type="text/javascript"></script>
	</head>

	<body class="no-skin" ng-app="workOrderViewApp"  ng-controller="WorkOrderViewController" ng-init="get_user()">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default navbar-fixed-top">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header nav_background_logo">
					<!-- #section:basics/navbar.layout.brand -->

					<button type="button" class="navbar-toggle menu-toggler pull-left navbar-toggle2" id="menu-toggler" onclick="go_back()">
						<i class="ace-icon fa fa-arrow-left" style="color: white"></i>
					</button>



					<!-- #section:basics/sidebar.mobile.toggle -->
					<button type="button" class="navbar-toggle menu-toggler pull-right" id="menu-toggler" data-target="#sidebar">
						<span class="sr-only">Toggle sidebar</span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>
					</button>
					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>
				<!-- /section:basics/navbar.dropdown -->
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
				<ul class="nav nav-list" ng-include="'menu.html'">
				</ul>
				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- /section:basics/content.breadcrumbs -->
					<input type="hidden" id="user_id" value="0">
					<div class="page-content" style="padding: 0px">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								
								<div class="row">
									<div class="col-xs-12">
										<div class="alert alert-danger fade in" ng-show="systemErrors">
											{{ systemErrors }}
										</div>
									</div>
									<div class="col-xs-12" ng-show="!systemErrors">
										<table class="table table-normal">
											<tbody>
												<tr ng-repeat="att in order.basic_detail">
													<td> <strong>{{ att.label }}</strong></td>
													<td class="grey" ng-bind-html="renderHtml(att.val)"></td>
												</tr>
											</tbody>
										</table>
										<hr/>
										<table class="table table-normal">
											<tbody>
												<tr>
													<td> <strong>Created On</strong></td>
													<td class="grey" ng-bind="order.created_info.Created_at"></td>
												</tr>
												<tr>
													<td> <strong>Created By</strong></td>
													<td class="grey"><a href="myinfo.html?id={{ order.created_info.id }}" style="border: 0px; color: gray;" ng-bind="order.created_info.Created_by"></a></td>
												</tr>
												<tr>
													<td style="text-align: center;" colspan="2">
														<a href="myinfo.html?id={{ order.created_info.id }}" style="border: 0px;">
															<img src="{{ order.created_info.Contact_Photo }}" style="width: 40px;height: 40px;vertical-align: top;">
														</a>
														<a href="tel:{{ order.created_info.Contact_Phone }}">
															<i class="ace-icon fa fa-phone bigger-300"></i>
														</a>
														<a href="mailto:{{ order.created_info.Contact_Email }}"><i class="ace-icon fa fa-envelope bigger-300"></i></a>
														<a href="sms:{{ order.created_info.Contact_Phone }}"><i class="ace-icon fa fa-envelope bigger-300"></i></a>
														<i class="ace-icon fa fa-folder-open bigger-300" data-toggle="modal" data-target="#new_Features_come"></i>
													</td>
												</tr>
											</tbody>
										</table>
										<hr/>
										<table class="table table-normal">
											<tbody>
												<tr ng-repeat="att in order.issue_location">
													<td> <strong>{{ att.label }}</strong></td>
													<td style="text-align: left;" class="grey" ng-bind-html="renderHtml(att.val)"></td>
												</tr>
											</tbody>
										</table>
										<hr/>
										<table class="table table-normal">
											<tbody>
												<tr>
													<td> <strong>Description</strong></td>
												</tr>
												<tr>
													<td style="text-align: left;" class="grey" ng-if="order.desc" ng-bind-html="renderHtml(order.desc)"></td>
												</tr>
											</tbody>
										</table>
										<hr/>
										<div>
											<div style="text-align:center;">
												<button class="btn btn-primary" data-toggle="modal" data-target="#workOrderUpdateModal">Edit</button>
											</div>
											<hr/>
											<div style="text-align:center;">
												<span class="label label-xlg label-primary arrowed arrowed-right">Summary So Far</span>
											</div>
											<div>
												<table class="table table-normal">
													<tbody>
														<tr ng-repeat="att in work_data" >
															<td ng-show="isCost(att)"> <strong>{{ att.label }}</strong></td>
															<td style="text-align: left;" class="grey" ng-show="isCost(att)" ng-if="att.val != ''" ng-bind-html="renderHtml(att.val)"></td>
														</tr>
													</tbody>
												</table>
											</div><hr/>
											<div style="text-align:center;">
												<button ng-show='!managerEnabled && !isCompleted' type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
													Add Note
												</button>
												<a ng-show="managerEnabled && !isCompleted" href="workorder_job.html?id={{woData.id}}" class="btn btn-success">Add Work Update</a>
											</div><br/>
										</div>
									</div><!-- /.span -->
								</div><!-- /.row -->
							</div><!-- /.col -->

							<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Add Note</h4>
										</div>
										<div class="modal-body">
											<p>
												<div class="alert alert-success fade in" ng-show="message_2">
													{{ message_2 }}
												</div>
												<div class="alert alert-danger fade in" ng-show="systemErrors_2">
													{{ systemErrors_2 }}
												</div>
												<form class="form-horizontal" role="form" name="noteForm">
													<div class="form-group" ng-class="{ 'has-error' : noteForm.note.$invalid && !noteForm.note.$pristine }">
														<div class="col-xs-12 col-sm-9">
															<textarea class="form-control" name="note" rows="6" id="form-field-8" placeholder="add work order job note..." ng-model="noteData.note" required></textarea>
															<p ng-show="noteForm.note.$invalid && !noteForm.note.$pristine" class="help-block">Description is required.</p>
														</div>
													</div>
												</form>
											</p>
										</div>
										<div class="modal-footer">
											<button class="btn btn-info" type="submit" ng-disabled="noteForm.$invalid" ng-click="add_note(noteForm.$valid)">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Save
											</button>
											<button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close">
												Cancel
											</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->

							<div class="modal fade" id="workOrderUpdateModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Update Work Order</h4>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-xs-12" style="margin: 0px;padding: 28px;">
													<div class="alert alert-success fade in" ng-show="message_2">
														{{ message_2 }}
													</div>
													<div class="alert alert-danger fade in" ng-show="systemErrors_2">
														{{ systemErrors_2 }}
													</div>
													<!-- PAGE CONTENT BEGINS -->
													<form class="form-horizontal" role="form" name="woForm" ng-submit="update_workOrder(woForm.$valid)">
														<span>Please fill in the following information then submit:</span>
														<br/>
														<!-- #section:elements.form -->
														<div class="form-group" ng-class="{ 'has-error' : woForm.building.$invalid && !woForm.building.$pristine }">
															<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Which Building<span class="red">*</span></label>
															<div class="col-xs-12 col-sm-9">
																<div class="clearfix">
																	<select class="form-control input-medium" name="building" ng-model="workData.building" ng-options="value.name for value in buildings" required>
																		<option value="">Select Building</option>
																	</select>
																</div>
																<p ng-show="woForm.building.$invalid && !woForm.building.$pristine" class="help-block">Select at least one building.</p>
															</div>
														</div>

														<div class="form-group" ng-class="{ 'has-error' : woForm.cat.$invalid && !woForm.cat.$pristine }">
															<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Category<span class="red">*</span></label>
															<div class="col-xs-12 col-sm-9">
																<div class="clearfix">
																	<select class="form-control input-medium" ng-model="workData.cat" name="cat" ng-options="value.id as value.name for value in mcategories" ng-change="update_subCat()" required>
																		<option value="">Select Category</option>
																	</select>
																</div>
																<p ng-show="woForm.cat.$invalid && !woForm.cat.$pristine" class="help-block">Select at least one category.</p>
															</div>
														</div>

														<div class="form-group" ng-class="{ 'has-error' : woForm.subcat.$invalid && !woForm.subcat.$pristine }">
															<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Sub-Category<span class="red">*</span></label>
															<div class="col-xs-12 col-sm-9">
																<div class="clearfix">
																	<select class="form-control input-medium" name="subcat" ng-model="workData.subcat" ng-options="subcat.id as subcat.name for subcat in subcats" required>
																		<option value="">Select Sub Category</option>
																	</select>
																</div>
																<p ng-show="woForm.subcat.$invalid && !woForm.subcat.$pristine" class="help-block">Select at least one subcategory.</p>
															</div>
														</div>

														<div class="form-group" ng-class="{ 'has-error' : woForm.issue_location.$invalid && !woForm.issue_location.$pristine }">
															<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Where is the issue location?<span class="red">*</span></label>
															<div class="col-xs-12 col-sm-9">
																<div class="clearfix">
																	<select class="form-control input-medium" name="issue_location" ng-options="iloc.id as iloc.name for iloc in iLocations" ng-change="update_iLoc()" ng-model="workData.issue_location" required>
																		<option value="">Select location</option>
																	</select>
																</div>
																<p ng-show="woForm.issue_location.$invalid && !woForm.issue_location.$pristine" class="help-block">Select issue location.</p>
															</div>
														</div>

														<div class="form-group" ng-show="issueLocationFlag" ng-class="{ 'has-error' : woForm.iLoc_data.$invalid && !woForm.iLoc_data.$pristine }">
															<label class="control-label col-xs-12 col-sm-3 no-padding-right" >{{ issue_location }}<span class="red">*</span></label>
															<div class="col-sm-9">
																<input class="col-xs-4 col-sm-5"  style="max-width: 100px" type="text" name="iLoc_data" ng-model="workData.iLoc_data" placeholder="Add room/floor" ng-required="issueLocationFlag" />
																<p ng-show="woForm.iLoc_data.$invalid && !woForm.iLoc_data.$pristine" class="help-block">Enter valid data.</p>
															</div>
														</div>

														<div class="form-group" ng-class="{ 'has-error' : woForm.desc.$invalid && !woForm.desc.$pristine }">
															<label class="control-label col-xs-12 col-sm-3 no-padding-right" >Description<span class="red">*</span></label>
															<div class="col-xs-12 col-sm-9">
																<textarea class="form-control" name="desc" rows="6" id="form-field-8" placeholder="work order description..." ng-model="workData.description" required></textarea>
																<p ng-show="woForm.desc.$invalid && !woForm.desc.$pristine" class="help-block">Description is required.</p>
															</div>
														</div>

														<div class="clearfix form-actions">
															<div class="col-md-offset-3 col-md-9">
																<button class="btn btn-info" type="submit" ng-disabled="woForm.$invalid">
																	<i class="ace-icon fa fa-check bigger-110"></i>
																	Submit
																</button>

																&nbsp; &nbsp; &nbsp;
																<button class="btn" type="button" data-dismiss="modal" aria-label="Close">
																	Cancel
																</button>
															</div>
														</div>
													</form>
													<!-- PAGE CONTENT ENDS -->
												</div><!-- /.col -->
											</div>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
							
						</div><!-- /.row -->

						<div id="view_history" class="row" ng-controller="workOrderJobListController">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row" ng-show="isviewButton">
									<div class="col-xs-12">
										<div style="text-align:center;">
											<button href="" class="btn btn-success" ng-click="jlinit()">View History</button>
										</div>
									</div>
								</div>
								<div class="row" id="workorderJobList">
									<div class="col-xs-12">
										<table id="simple-table" class="table table2 table-striped table-bordered table-hover">
											<tbody>
												<tr class="box-section news with-icons" ng-repeat="order in jobs |  orderBy:'order.workorderjob_no'" style="padding: 5px;">
													<td ng-show="!order.isDeleted || deletedFlag">
														
														<div class="news-content">
															<div class="news-title">
																<div class="pull-left">{{ order.workorderjob_no }} - {{ order.ago }}</div>
																<div class="pull-right" style="margin-right: 10px">
																	By {{ order.created_by }}
																	<span ng-show="order.isDeleted" class="label label-lg label-danger arrowed pull-right">Deleted</span>

											            		<!-- button ng-show="order.isEditable && !order.isDeleted" class="btn btn-info btn-xs" style="margin-left: 5px;" ng-click="delete(order.workorderjob_no)">
											            			<i class="ace-icon fa fa-trash icon-only bigger-110"></i>
											            		</button>
											            	 	
											            	 	<button ng-show="order.isEditable && !order.isDeleted" class="btn btn-info btn-xs" style="margin-left: 5px;" ng-click="">
											            	 	<i class="ace-icon fa fa-edit icon-only bigger-110"></i>
											            	 </button !-->
											            	</div>
											            </div>
											            <div style="clear: both;"></div>
											            <div class="news-text">
											            	<span ng-repeat="att in order.attributes">
											            		<strong>{{ att.label }}</strong><br/>
											            		<p ng-bind-html="renderHtml(att.val)" class="grey"></p>
											            	</span>
											            </div>
											        </div>
											    </td>
											</tr>
										</tbody>
									</table>

									<div style="text-align:center">
										<button class="btn btn-gray" ng-show="!loadMore && !isLast" ng-click="loadmore()">Load More</button>
									</div>
								</div><!-- /.span -->
							</div><!-- /.row -->
							<div class="row">
								<div class="modal fade" id="ConfirmationModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Delete</h4>
											</div>
											<div class="modal-body">
												<p>Are you sure?</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success" ng-click="confirmed()">Delete</button>
												<button type="button" class="btn btn-success" ng-click="delete_id='0'" data-dismiss="modal" aria-label="Close">Cancel</button>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div><!-- /.modal -->
							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->

					<div class="modal fade" id="myModal_woj" data-backdrop="static" data-keyboard="false" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<p>Removed</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">OK</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<div class="modal fade" id="new_Features_come" data-backdrop="static" data-keyboard="false" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<p>Feature to come.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">OK</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<!-- #section:basics/footer -->
				<div class="footer-content">
					
				</div>

				<!-- /section:basics/footer -->
			</div>
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->
	<div class="modal-backdrop fade in cust_loading_parent" id="cust_loading">
		<div class="cust_loading"></div>
	</div>
	<div class="bottom_bar">
		<i class="ace-icon fa fa-camera icon-only bigger-260" id="camera_upload"></i>
		<input type="file" id="my_file" style="display: none;" />
	</div>
	<style type="text/css">
		.bottom_bar{
			padding: 4px;
			color: grey;
			width: 100%;
			text-align: center;
			height: 40px;
			position: fixed;
			bottom: 0;
			left: 0;
			background: #FFFFFF;
			z-index: 10;
			border-top: 2px solid gray;
		}
		.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
			width: 50%;
			border: 0px;
		}
		.table2 > thead > tr > th, .table2 > tbody > tr > th, .table2 > tfoot > tr > th, .table2 > thead > tr > td, .table2 > tbody > tr > td, .table2 > tfoot > tr > td {
			border: 1px solid #dddddd !important;
		}
	</style>

	<!-- basic scripts -->

	<script type="text/javascript">
		function go_back(){
			var pre_url =  document.referrer;
			if(pre_url.indexOf("notification") != -1){
				window.history.back();
			} else {
				window.location.href = "workorder_list.html";
			}
		}
	</script>

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='assets/js/jquery.js'>"+"<"+"/script>");
	</script>

	<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script type="text/javascript">
	$("#camera_upload").click(function() {
		$("input[id='my_file']").click();
	});
	$('input[type=file]').on('change', prepareUpload);
</script>
<script src="assets/js/bootstrap.js"></script>

<!-- ace scripts -->
<script src="assets/js/ace/elements.scroller.js"></script>
<script src="assets/js/ace/elements.aside.js"></script>
<script src="assets/js/ace/ace.js"></script>
<script src="assets/js/ace/ace.ajax-content.js"></script>
<script src="assets/js/ace/ace.touch-drag.js"></script>
<script src="assets/js/ace/ace.sidebar.js"></script>
<script src="assets/js/ace/ace.sidebar-scroll-1.js"></script>
</body>
</html>
