<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Tables - Ace Admin</title>

		<meta name="description" content="Static &amp; Dynamic Tables" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="assets/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.js"></script>
		<![endif]-->
		<script src="assets/js/angular.js" type="text/javascript"></script>
		<script src="assets/js/common.js" type="text/javascript"></script>
  		<script src="assets/js/angularControllers/workorder_list.js" type="text/javascript"></script>
	</head>

	<body class="no-skin" ng-app="workOrderListApp" ng-controller="workOrderListController" ng-init="init()">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default navbar-fixed-top">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">

				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header nav_background_logo">
					<!-- #section:basics/navbar.layout.brand -->

					<button type="button" class="navbar-toggle menu-toggler pull-left navbar-toggle2" id="menu-toggler" onclick="window.location.href='dashboard.html'">
						<i class="ace-icon fa fa-arrow-left" style="color: white"></i>
					</button>



					<!-- #section:basics/sidebar.mobile.toggle -->
					<button type="button" class="navbar-toggle menu-toggler pull-right" id="menu-toggler" data-target="#sidebar">
						<span class="sr-only">Toggle sidebar</span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>

						<span class="icon-bar"></span>
					</button>
					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>

				<!-- /section:basics/navbar.dropdown -->
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
			<div id="sidebar" class="sidebar responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
				<ul class="nav nav-list" ng-include="'menu.html'">
				</ul>
				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content" style="padding: 0px">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12" style="padding: 10px;text-align: center;">
										<label>Sort By: </label>
										<label ng-show="isSecured">
											<input name="form-field-radio" ng-model="woList.sortType" value="priority" type="radio" class="ace" ng-change="updateList()">
											<span class="lbl"> Priority</span>
										</label>
										<label>
											<input name="form-field-radio" ng-model="woList.sortType" value="status" type="radio" class="ace" ng-change="updateList()">
											<span class="lbl"> Status</span>
										</label>
										<label ng-show="isSecured">
											<input name="form-field-radio" ng-model="woList.sortType" value="escalation" type="radio" class="ace" ng-change="updateList()">
											<span class="lbl"> Escalation Level</span>
										</label>
										<label>
											<input name="form-field-radio" ng-model="woList.sortType" value="timestamp" type="radio" class="ace" ng-change="updateList()">
											<span class="lbl"> Timestamp</span>
										</label>
									</div>
									<div class="col-xs-12">
										<table id="simple-table" class="table table-striped table-bordered table-hover">
											<tbody>
												<tr class="box-section news with-icons" ng-repeat="order in orders" ng-click="open_workorder(order.workorder_no)">
										          <td>
										          	<div class="avatar blue"><i class="icon-ok icon-2x"></i></div>
											          <div class="news-content">
											            <div class="news-title"><b>Workorder #: </b><span class="grey">{{ order.workorder_no }}</span>
															<!-- span class="label label-success arrowed-in arrowed-in-right"><strong>{{ order.cday }}</strong> {{ order.month }}</span -->
											            </div>
											            <div class="news-text">
											            <!-- p>{{ order.desc }}</p -->
											                <span ng-repeat="att in order.attributes">
											                  <b>{{ att.label }}</b> <span class="grey" ng-bind-html="renderHtml(att.val)"></span> <br/>
											                </span>
											            </div>
											          </div>
										          </td>
										        </tr>
											</tbody>
										</table>

										<div style="text-align:center">
										          <button class="btn btn-blue" ng-show="!loadMore" ng-click="loadmore()">Load More</button>
										          <span ng-show="loadMore">No work orders to display.</span><br/>
										</div>
									</div><!-- /.span -->
								</div><!-- /.row -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
		<div class="modal-backdrop fade in cust_loading_parent" id="cust_loading">
				<div class="cust_loading"></div>
		</div>

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.js"></script>

		<!-- ace scripts -->
		<script src="assets/js/ace/elements.scroller.js"></script>
		<script src="assets/js/ace/elements.aside.js"></script>
		<script src="assets/js/ace/ace.js"></script>
		<script src="assets/js/ace/ace.ajax-content.js"></script>
		<script src="assets/js/ace/ace.touch-drag.js"></script>
		<script src="assets/js/ace/ace.sidebar.js"></script>
		<script src="assets/js/ace/ace.sidebar-scroll-1.js"></script>
	</body>
</html>
